@import "tailwindcss";

@theme {
  --color-primary: #0D3B30;
  --color-primary-dark: #06211B;
  --color-primary-light: #E6F2F0;
  --color-accent: #F97316;
  --color-accent-hover: #EA580C;
}

@layer base {
  body {
    @apply antialiased text-slate-900;
  }
  button, a {
    @apply cursor-pointer;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer components {
  .btn-primary {
    @apply bg-accent text-white px-6 py-3 rounded-xl font-bold transition-all hover:bg-accent-hover disabled:opacity-50 disabled:cursor-not-allowed;
  }
  .input-field {
    @apply w-full px-4 py-3 rounded-xl border border-slate-200 focus:border-primary focus:ring-1 focus:ring-primary outline-none transition-all bg-slate-50;
  }
}
